* {
	margin: 0;
	padding: 0;
}

.App {
	background-image: url("../images/bg-weather.jpg");
	background-size: cover;
	min-height: 104vh;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 400px) {
	.App {
		min-height: 140vh;
	}
}
